* {
    font-family: Arial
}
h1{
color: #fff;
    	background-color: #009688;
    	font-family: Arial, Helvetica, sans-serif;
	border-radius: 50px;
}
button {
    color: #fff;
    background-color: #009688;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 3%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

button:hover {
    background-color: #024d45;
    color: #fff;
}

button:focus {
    outline: 0;
    background-color: #024d45;
}

.max-550 {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.board {
    position: relative;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 3%;
}

.row {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: inline-block;
    width: 9.5%;
    text-align: center;
    padding: .5%;
}

.fixed {
    background-color: #80cbc4;
    cursor: context-menu;
    border-radius: 25%;
    padding: 30%;
}

.border-right {
    border-right: 2px solid;
}

.border-bottom {
    border-bottom: 2px solid;
}